In [71]:
import pandas as pd
import pathlib
import numpy as np

In [31]:
CFG = pd.read_csv("CFG.csv")
CNC = pd.read_csv("CNC.csv")
GPN = pd.read_csv("GPN.csv")
INTC = pd.read_csv("INTC.csv")

In [45]:
data = {"CFG": CFG, "CNC": CNC,"GPN": GPN,"INTC": INTC}
names = ["CFG","CNC","GPN","INTC"]

Is there a company that has no difference between the Close and Adj Close columns?
What does it mean from the financial point of view for the stock (you can get bonus
partial points)?

In [82]:
for key,ticker in data.items():
    if all(ticker["Adj Close"] == ticker["Close"]):
        print(f"{key}")

CNC

What is the highest and lowest price (Adj Close) each company recorded?

In [54]:
max_CFG = max(CFG["Adj Close"])
min_CFG = min(CFG["Adj Close"])
print(f"CFG min: {max_CFG}")
print(f"CFG max: {min_CFG}")
max_CNC = max(CNC["Adj Close"])
min_CFG = min(CNC["Adj Close"])
print(f"CNC min: {max_CFG}")
print(f"CNC max: {min_CFG}")
max_GPN = max(GPN["Adj Close"])
min_GPN = min(GPN["Adj Close"])
print(f"GPN min: {max_CFG}")
print(f"GPN max: {min_CFG}")
max_INTC = max(INTC["Adj Close"])
min_INTC = min(INTC["Adj Close"])
print(f"INTC min: {max_CFG}")
print(f"INTC max: {min_CFG}")

CFG min: 55.925743103027344
CFG max: 13.986557006835938
CNC min: 55.925743103027344
CNC max: 42.72999954223633
GPN min: 55.925743103027344
GPN max: 42.72999954223633
INTC min: 55.925743103027344
INTC max: 42.72999954223633

(1pt task) Calculate logarithmic returns from Adj Close. For each company report on
its, min, max, mean, median of the return distribution.

In [86]:
for key,ticker in data.items():
    ticker['log_ret'] = np.log(ticker["Adj Close"]) - np.log(ticker["Adj Close"].shift(1))
    min_ = np.nanmin(ticker['log_ret'])
    max_ = np.nanmax(ticker['log_ret'])
    mean_ = np.nanmean(ticker['log_ret'])
    median_ = np.nanmedian(ticker['log_ret'])
    print(f"{key} Min: {min_}, Max: {max_}, Mean: {mean_}, Median: {median_}")

CFG Min: -0.24547476559631543, Max: 0.1569700329491588, Mean: 0.00021775412178264347, Median: 0.0005660365925002075
CNC Min: -0.16260223088477943, Max: 0.14498691193420132, Mean: 0.0004400655464827349, Median: 0.0007504410256302663
GPN Min: -0.2128062153261263, Max: 0.1961963394997035, Mean: 4.641600861042549e-05, Median: 0.0017622501850693695
INTC Min: -0.19895742427906082, Max: 0.17832430083601203, Mean: -0.00025557663536737767, Median: 0.0

4. When did each company record the highest gain and highest loss for the day?
(logarithmic loss). Hint: idxmax

In [94]:
data["CNC"].head()

,Date,High,Low,Open,Close,Volume,Adj Close,log_ret
0,2017-11-13,47.494999,46.555000,46.555000,47.180000,3056200.0,47.180000,NaN
1,2017-11-14,47.180000,46.375000,46.974998,46.514999,1715400.0,46.514999,-0.014195
2,2017-11-15,46.509998,45.035000,46.400002,46.075001,2552800.0,46.075001,-0.009504
3,2017-11-16,48.465000,46.255001,46.255001,47.970001,3466600.0,47.970001,0.040305
4,2017-11-17,47.974998,47.520000,47.834999,47.570000,2009200.0,47.570000,-0.008374

In [91]:
for key,ticker in data.items():
    max_ = pd.DataFrame.idxmax(ticker["log_ret"],axis=0, skipna=True, numeric_only=False)
    print(max_)

AttributeError: 'numpy.int64' object has no attribute '_values'